div.step {
	float:left;
	border-top:1px dashed #ccc;
}
div.step ul {
	min-height: 200px;
    border-right:1px dashed #ccc;
	margin: 0;
	padding: 5px;
}
div.step ul.special {
	background-color: #eee;
}

div.step ul li.receiver {
	background-color: #99ffff;
	border-radius: 5px;
	padding: 5px;
	margin: 0 2px 10px 2px;
	list-style: none;
	height: 100px;
}


div.step li[data-propal-id] {
	background-color:#fff;
	list-style: none;
	border:1px solid #bbb;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px #cfcfcf;
	padding: 5px;
	margin: 5px 0 0;
}
div.step li[data-propal-id]:first-child {
	margin: 0;
}
div.step li[data-propal-id]>h3
{
	margin-top: 0
}
div.step div.total {
	background-color: #666;
	color:#fff;
	font-size: 36px;
	text-align: right;
}

div.period {
	background-color: #aaa;
	color:#666;
	font-size: 16px;
	text-align: left;
	padding:5px 5px;
}


.border-left-light{
	border-left: 1px solid #666 !important;
}
.border-top-light{
	border-top: 1px solid #666 !important;
}
.border-left-heavy {
	border-left: 2px solid #000 !important;
}

.cellMinWidth{
	min-width:5em;
}

.border-top-heavy{
	border-top: 2px solid #000 !important;
}

#goalTableGlobalWrap{
	max-width: 100%;
	position:relative;
	display:block;
	margin-bottom:200px;
}
#goalTableWrap{
	max-width: 100%;
	position:relative;
}

td.goal-danger, th.goal-danger{
	background: #ffb2b2 !important;
}
td.goal-warning, th.goal-warning{
	background: #ffe4b2 !important;
}
td.goal-idle, th.goal-idle{
	/*background: #ffb2b2 !important;*/
}
td.goal-success, th.goal-success{
	background: #c8ffb2 !important;
}

